.body {
    position: relative;
    width: 1128px;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    position: absolute;
    top: 36px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 32px;
}

.gallery {

}